challenges/1_mil_challenges.npy filter=lfs diff=lfs merge=lfs -text
challenges/3500_challenges.npy filter=lfs diff=lfs merge=lfs -text
challenges/5000_challenges.npy filter=lfs diff=lfs merge=lfs -text
challenges/* filter=lfs diff=lfs merge=lfs -text
challenges/*.npy filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
